@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Color */
  --color-portal-green: #00a85f;
  --color-portal-green-dark: #00884d;
  --color-portal-blue: #0d3455;
  --color-portal-blue-dark: #062035;
  --color-portal-black: #0e142759;

  /* Animation */
  --animate-slide-up: slide-up 0.5s ease-in-out;
  --animate-up-down: up-down 1.2s infinite ease-in-out;

  /* Keyframes */
  @keyframes slide-up {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes up-down {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(10px);
    }
  }
}

/* Container */
@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;

  @variant sm {
    padding-inline: 20px;
  }

  @variant lg {
    padding-inline: 80px;
  }

  @variant xl {
    padding-inline: 180px;
  }
}

/* Custom utilities for line clamping */
@layer utilities {
  .line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
