@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Color */
  --color-portal-green: #22c55e;
  --color-portal-green-dark: #16a34a;
  --color-portal-blue: #0d3455;
  --color-portal-blue-dark: #062035;
  --color-portal-black: #0e142759;
  --color-portal-red: #dc2626;
  --color-portal-red-dark: #b91c1c;

  /* Animation */
  --animate-slide-up: slide-up 0.5s ease-in-out;
  --animate-up-down: up-down 1.2s infinite ease-in-out;

  /* Keyframes */
  @keyframes slide-up {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes up-down {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(10px);
    }
  }

  /* Shadow */
  --shadow-login: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/* Container */
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @variant sm {
    padding-inline: 1.5rem;
  }

  @variant md {
    padding-inline: 2rem;
  }

  @variant lg {
    padding-inline: 3rem;
  }

  @variant xl {
    padding-inline: 4rem;
  }

  @variant 2xl {
    padding-inline: 5rem;
  }
}

/* Custom utilities for line clamping */
@layer utilities {
  .line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

/* Shadcn UI */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: Poppins, sans-serif;
  --font-mono: Fira Code, monospace;
  --font-serif: Lora, serif;
  --radius: 0.4rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
}

/* Shadcn UI */
:root {
  --background: oklch(1.0 0 0);
  --foreground: oklch(0.20 0 0);
  --card: oklch(0.96 0.03 145);
  --card-foreground: oklch(0.20 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.20 0 0);
  --primary: oklch(0.87 0.09 145);
  --primary-foreground: oklch(0.20 0 0);
  --secondary: oklch(0.93 0.06 145);
  --secondary-foreground: oklch(0.20 0 0);
  --muted: oklch(0.92 0.05 145);
  --muted-foreground: oklch(0.50 0 0);
  --accent: oklch(0.91 0.08 145);
  --accent-foreground: oklch(0.20 0 0);
  --destructive: oklch(0.65 0.20 25);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.88 0.08 145);
  --input: oklch(0.95 0.02 145);
  --ring: oklch(0.85 0.10 145);
  --chart-1: oklch(0.80 0.12 145);
  --chart-2: oklch(0.85 0.10 145);
  --chart-3: oklch(0.90 0.08 145);
  --chart-4: oklch(0.75 0.14 145);
  --chart-5: oklch(0.70 0.15 145);
  --radius: 0.4rem;
  --sidebar: oklch(1.0 0 0);
  --sidebar-foreground: oklch(0.20 0 0);
  --sidebar-primary: oklch(0.90 0.08 145);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.91 0.08 145);
  --sidebar-accent-foreground: oklch(0.20 0 0);
  --sidebar-border: oklch(0.93 0.04 145);
  --sidebar-ring: oklch(0.90 0.08 145);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --shadow-color: hsl(0 0% 0% / 0.1);
  --shadow-opacity: 1.0;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 3px;
  --shadow-offset-y: 3px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 3px 3px 0px 0px hsl(0 0% 0% / 0.1);
  --shadow-xs: 3px 3px 0px 0px hsl(0 0% 0% / 0.1);
  --shadow-sm: 3px 3px 0px 0px hsl(0 0% 0% / 0.1), 3px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 3px 3px 0px 0px hsl(0 0% 0% / 0.1), 3px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 3px 3px 0px 0px hsl(0 0% 0% / 0.1), 3px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 3px 3px 0px 0px hsl(0 0% 0% / 0.1), 3px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 3px 3px 0px 0px hsl(0 0% 0% / 0.1), 3px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 3px 3px 0px 0px hsl(0 0% 0% / 0.15);
  --tracking-normal: 0em;
}

/* Shadcn UI */
.dark {
  --background: oklch(0.2497 0.0305 234.1628);
  --foreground: oklch(0.95 0.02 145);
  --card: oklch(0.2902 0.0299 233.5352);
  --card-foreground: oklch(0.95 0.02 145);
  --popover: oklch(0.2902 0.0299 233.5352);
  --popover-foreground: oklch(0.95 0.02 145);
  --primary: oklch(0.87 0.09 145);
  --primary-foreground: oklch(0.20 0 0);
  --secondary: oklch(0.85 0.10 145);
  --secondary-foreground: oklch(0.95 0 0);
  --muted: oklch(0.30 0.05 145);
  --muted-foreground: oklch(0.85 0.10 145);
  --accent: oklch(0.80 0.12 145);
  --accent-foreground: oklch(0.95 0 0);
  --destructive: oklch(0.60 0.22 25);
  --destructive-foreground: oklch(0.95 0 0);
  --border: oklch(0.75 0.10 145);
  --input: oklch(0.35 0.05 145);
  --ring: oklch(0.85 0.10 145);
  --chart-1: oklch(0.80 0.12 145);
  --chart-2: oklch(0.85 0.10 145);
  --chart-3: oklch(0.75 0.14 145);
  --chart-4: oklch(0.70 0.15 145);
  --chart-5: oklch(0.65 0.16 145);
  --sidebar: oklch(0.2303 0.0270 235.9743);
  --sidebar-foreground: oklch(0.9670 0.0029 264.5419);
  --sidebar-primary: oklch(0.90 0.08 145);
  --sidebar-primary-foreground: oklch(0.95 0 0);
  --sidebar-accent: oklch(0.85 0.10 145);
  --sidebar-accent-foreground: oklch(0.95 0 0);
  --sidebar-border: oklch(0.75 0.10 145);
  --sidebar-ring: oklch(0.90 0.08 145);
  --radius: 0.4rem;
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --shadow-color: hsl(0 0% 0% / 0.2);
  --shadow-opacity: 1.0;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 3px;
  --shadow-offset-y: 3px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 3px 3px 0px 0px hsl(0 0% 0% / 0.2);
  --shadow-xs: 3px 3px 0px 0px hsl(0 0% 0% / 0.2);
  --shadow-sm: 3px 3px 0px 0px hsl(0 0% 0% / 0.2), 3px 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow: 3px 3px 0px 0px hsl(0 0% 0% / 0.2), 3px 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow-md: 3px 3px 0px 0px hsl(0 0% 0% / 0.2), 3px 2px 4px -1px hsl(0 0% 0% / 0.2);
  --shadow-lg: 3px 3px 0px 0px hsl(0 0% 0% / 0.2), 3px 4px 6px -1px hsl(0 0% 0% / 0.2);
  --shadow-xl: 3px 3px 0px 0px hsl(0 0% 0% / 0.2), 3px 8px 10px -1px hsl(0 0% 0% / 0.2);
  --shadow-2xl: 3px 3px 0px 0px hsl(0 0% 0% / 0.25);
}

/* Shadcn UI */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
